body{
    background: rgb(31, 31, 31);
    color: white;
}

.text-block{
    font-size: 22px;
    text-align: justify;
}
.video-wrapper {
    padding: 20px; /* Padding around the video */
    margin: 20px auto; /* Center the video with margin */
    max-width: 900px; /* Set a maximum width */
    /* background-color: #fff; Optional: Add background for neatness */
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 10px; /* Optional: Round the corners */
  }

  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    border-radius: 10px; /* Optional: Round the video corners */
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }